.footer {
  background-color: #007bff; /* Blue color */
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #d4d4d4;
}

.footer .btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}

.footer .btn-primary:hover {
  background-color: #004494;
  border-color: #004494;
}

.footer .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.footer .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
