@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.hero {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.card-title {
  font-size: 2.5rem;
  font-weight: 300;
}

.card-text {
  font-size: 1.25rem;
  margin-top: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.slider-img {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire area */
}
